.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 46px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    width: 650px;
    height: 550px;
    transform: scale(0.5);
    transition: 0.4s all;
    background: linear-gradient(-20deg,
      #ddd6f3 0%,
      #faaca8 100%,
      #faaca8 100%);
}

.modal_content.active {
    transform: scale(1);
}
