.Header {
    width: 100%;
    height: 70px;
    background: linear-gradient(-20deg, #806BFF 0%, #f4a8fa 100%, #8400d0 100%);

    .image {
        width: 120px;
        height: 80px;
        margin-left: 10px;
        opacity: .65;
        padding-bottom: 25px;
        position: fixed;
        z-index: 999;
    }
}
